#active-media {
	height: auto;
	width: auto;
	max-width: 600px;
	max-height: 600px;
}

#banner {
	background-color: #A9BEDB;
	margin: 0 0 15px 0;
	overflow: auto;				/* keeps logo in banner */
	padding-top: 20px;
}

#comments {
	margin: 0 -15px 0 0;
	width: 220px;
}

#comments ul {
	-webkit-margin-before: 0em;
	-webkit-padding-start: 0;
}

#comments ul li{
	float: none;
	list-style-type: none;
	margin: 0 0 0 0;
	text-align: left;
}

#left-column {
	display: inline-block;
}

#logo-link {
	display: inline-block;
	float: left;
	margin-top: -25px;
}

#logo-link img {
	max-height: 75px;
}
	
#main {
	/* margin: 0 15px; */
}

#main-column {
	text-align: center;		/* prevents column with the player from smooshing up against the left*/
}

#search {
	float: left;
	display: inline-block;
	margin-left: 10px;
}

#wrapper {
	background: white;
	margin: 0 auto 0 auto;
	width: 960px;
	/*display: inline-block;*/
}

.active {
    background-color: #4CAF50;
    color: white;
}

/*must be absolutely positioned and have a defined height for children to use height percentage */
div.content-box {	}

.content-list {
	margin: 0 auto; 		/* along with width, used to center the list */
	position: relative;		/* ancestor for button positioning */
	/* height: 400px; */
	width: 648px;			/* width must match width of carousel to center properly */
}

div.content-box  > .content-data  {
	/* background: rgba(119, 142, 173, 1.0); */
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 6px;
	width: inherit;
}

.content-data { 
	/* width: 100%; */
	height: 70px;
}

.content-data :first-child {
	color: #e6e6e6;
}

.content-data > p {
	color: #b3b3b3;
	margin-top: 5px;
}


body {
	background: #A9BEDB;
	margin: 0;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

a {
	display: inline-block; 	/* image doesn't fit in anchor for the content strip w/o this */
}

a:visited {
	color: rgba(72, 72, 72, 0.9);
}

a:hover {
	background-color: rgba(0, 0, 0, 0.6); /*#333333;*/
	color: white;
}

.content-group {
	margin-left: 20px;
}

.content-scroll {
	background:#A9BEDB;
	height: 140px;
	width: 700px;
	margin: 20px auto;
	overflow: auto;
	padding: 30px 30px 30px 30px;
	text-align: center;
	white-space: nowrap;
}

form {
	display: inline-block;
}

h1 {
	color: rgba(72, 72, 72, 0.9);
}

nav ul {
	list-style-type: none; /* remove bullet points */
	padding: 0;
	margin: 0;
	margin-top: 0;
	overflow: hidden;
	/*width: auto;*/
}

li {
	/*border-left: 1px solid;
	border-right: 1px solid;*/
	background-color: #BCD0E9;
	float: right;
	margin-left: 3px;
	margin-right: 1px;
	text-align: center;
}

li a {
	display: block;  /* makes the whole link area clickable (not just the text), and it allows us to specify the width (and padding, margin, height, etc. if you want */
	font-size: 1.5em;
	padding: 0 15px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	width: auto;
}

/* carousel css */
.jcarousel-prev {
	position: absolute;
	left: -70px;
	top: 0;
}

.jcarousel-next {
	position: absolute;
	right: -70px;
	top: 0;
}

/* visible area of the carousel */
.jcarousel {
	position: relative;
	overflow: hidden;
	width: 648px;
	/* height: 400px; */
	margin: 0 auto;
}
/* container of carousel items */
.jcarousel div {
	width: 20000em;
	position: relative;

	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel div.content-box {
	background: rgba(52, 69, 94, 0.8);
	float: left;	/* required for block elements like <li> */
	margin-right: 12px;
	width: 166px;
}

.jcarousel div.content-box img{
	float: left;			/* allows automatic image size scaling to fit div */
	max-width: 100%;		/* 1.7048*height */
	max-height: 100%; 
}