#banner {
	background-color: #A9BEDB;
	margin: 0px 0px;
	padding-top: 20px;
	height: 40px;
}

#main {
	margin: 0 15px;
}

#media-box {
	border: 2px solid black;
	margin: 50px;
}

#wrapper {
	background: white;
	margin: 0 auto 0 auto;
	width: 960px;
	/*display: inline-block;*/
}

.active {
    background-color: #4CAF50;
    color: white;
}

.contentGroup {
	
}

.contentList {
	
}

body {
	background-color: Red;
	margin: 0;
}

a {
	display: inline-block; 	/* image doesn't fit in anchor for the content strip w/o this */
}

a:visited {
	
}

a:hover {
	background-color: rgba(0, 0, 0, 0.6); /*#333333;*/
	color: white;
}

h1 {
	color: rgba(72, 72, 72, 0.9);
	font-family: "Arial", sans-serif;
}

nav ul {
	list-style-type: none; /* remove bullet points */
	padding: 0;
	margin: 0;
	margin-top: 0;
	overflow: hidden;
}

li {
	/*border-left: 1px solid;
	border-right: 1px solid;*/
	background-color: #BCD0E9;
	float: right;
	margin-left: 3px;
	margin-right: 1px;
	text-align: center;
}

li a {
	display: block;  /* makes the whole link area clickable (not just the text), and it allows us to specify the width (and padding, margin, height, etc. if you want */
	font-family: "Arial", sans-serif;
	font-size: 1.5em;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
}

.content-scroll {
	background:#A9BEDB;
	height: 140px;
	width: 700px;
	margin: 20px auto;
	overflow: auto;
	padding: 30px 30px 30px 30px;
	text-align: center;
	white-space: nowrap;
}